<%-  include("includes/header.ejs");   %>


<body>
    
    
   <div class="box">

     <h2>Hello You contacted ŧhe rooth path</h2>




    <button type="button">click Me</button>




    <%-  include("includes/footer.ejs");   %>

   </div>






</body>
</html>