<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>




    <h2>This Page Belongs to <%= username %></h2>

    <button type="button">Follow</button>
    <button type="button">Message</button>

    <h3>Accounts that follow you: </h3>

    <ul>
    
      <% for(i of arr) { %>

           
            <li> <%=i%></li>  


    <%} %>

        </ul>

    
</body>
</html>